
h1 {
	font-size:100px;
	text-align:center;
	top: 0;
}

p {
	color: #ffffff; 
	text-align:center;
	font-size: 30px;
}
.carousel  img {
	height: 100%;
	width: 100%;
	top: 0;
	right: 0;
}
.main-container {
  padding: 10px 15px;
}
.carousel-indicators {
	bottom: 0;
}
.carousel-control.right,
.carousel-control.left {
	background-image: none;
}
.carousel .item {
	min-height: 350px; 
	height: 100%;
	width:100%; 
	right: 0;
	
}
#carousel-example-generic {
	position: relative;
	left: 100px;
	width:100%;
}
.carousel-caption h3,
.carousel .icon-container,
.carousel-caption button {
	background-color: black;
	font-family: Monospace;
	font-size: 14px;
}
.carousel-caption h3 {
	padding: .5em;
	opacity: 1.0;
}
.carousel .icon-container {
	display: inline-block;
	font-size: 25px;
	line-height: 25px;
	padding: 1em;
	text-align: center;
	border-radius: 50%;
}
.carousel-caption button {
	border-color: black;
	margin-top: 1em; 
}
.item carousel-caption {
	opacity:0.8;
	top: 0;
	left: 0;
}
/* Animation delays */
.carousel-caption h3:first-child {
	animation-delay: 1s;
	opacity: 1.0;
}
.carousel-caption h3:nth-child(2) {
	animation-delay: 2s;
	opacity: 1.0;
}
.carousel-caption button {
	animation-delay: 3s;
}

h1 {
  text-align: center;  
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
}

.p {
  padding-top: 125px;
  text-align: center;
}

.p a {
  text-decoration: underline;
}

body {
	background-image:url("Pictures/background1.jpg");
	background-position: center-bottom;
	background-repeat:no-repeat;
	background-size: 100%;
	
}
